.App{
  text-align: left;
}
body{
  background-color: #dee2ff;
  overflow-x: hidden;
}
.copyRight{
  background-color: #306dd9;
}
.copyRight p{
  margin: 8px;
  font-size: 15px;
}
.copyRight a{
  color: #fff;
  text-decoration: none;
}
.copyRight p > a{
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}
.right{
  position: absolute;
  right: 0;
}